.nav {
    background-color: black;
}
.list-item {
    display: inline;
    color: whitesmoke;
    font-size: 2rem;
}
.header {
    background-image: url(./images/landscape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    font-size: 2rem;
    color:aqua
}